body{
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  text-align: center;
}

div{
  display: flex;
  justify-content: center;
}

table{
  width: 500px;
  border-collapse: collapse;
}

caption{
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px;
  background-color: aliceblue;
}

td, th{
  border: 1px solid black;
  padding: 10px;
}

thead, tfoot{
  background-color: lightgrey;
  color: white;
}

td.num{
  text-align: right;
}