body{
  font-family: Arial, Helvetica, sans-serif;
}

table{
  width: 500px;
  border-collapse: collapse;
}

td, th{
  border: 1px solid black;
  padding: 10px;
}

thead, tfoot{
  background-color: lightgrey;
  color: white;
}

td.num{
  text-align: right;
}