body{
  font-family: Arial, Helvetica, sans-serif;
}

div{
  display: flex;
  justify-content: center;
  margin: 20%
}

table{
  width: 500px;
  border-collapse: collapse;
}

caption{
  font-weight: bold;
  padding-bottom: 5px;
  font-size: 20px;
}

td, th{
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

col.cnome{
  background-color: aqua;
}

col.cgrupo{
  background-color: antiquewhite;
}