body{
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  text-align: center;
}

div{
  display: flex;
  justify-content: center;
}

table{
  width: 500px;
  border-collapse: collapse;
  position: relative;
}

caption{
  font-size: 1.5em;
  font-weight: bold;
  padding: 10px;
}

td, th{
  border: 1px solid black;
  padding: 10px;
}

thead, tfoot{
  background-color: darkgrey;
  color: white;
}

thead > tr > th{
  position: sticky;
  top: -1px;
  background-color: darkgrey;
}

tbody > tr:nth-child(odd) { /* 2n-1*/
  background-color: rgb(241, 241, 241);
  font-weight: bold;
}

tbody > tr:nth-child(even) { /* 2n*/
  background-color: lightgray;
  text-decoration: underline;
}

td.num{
  text-align: right;
}

td.por{
  text-align: center;
}

td.pas{
  text-align: center;
}

tfoot td.num{
  width: 100px;
}